body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 5rem;
    font-family: 'ADLaM Display', cursive;
}

.container-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Gluten', cursive;
}

.box {
    width: 350px;
    height: 300px;  
    border: 2px solid black;
    padding: 50px;
}

h3 {
    display: flex;
    flex-direction: row;
}

img {
    height: 50px;
    height: 50px;
}